<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="/weblibs/jquery-3.3.1.js"></script>

    <script src="/weblibs/Bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="/weblibs/Bootstrap/css/bootstrap.css" />

    <script src="/javascripts/boosterintro.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>
  <div class="background">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12" style="max-height: 100%">
        <div class="slickContainer">
          <img class="slickImg" src="/images/Slick.png">
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
