.slickImg{
     max-height: 100%;
     max-width: 100%
 }

.slickContainer{
    height: calc(100% - 2rem);
    text-align: center;
    margin: 1rem;
}

.background{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background:  url("../images/Hired.jpg") center center;
    position: fixed;
    left: 0;
    height:100vh;
    width: 100vw;
    background-size: cover;
    opacity: .5;
}

.boosterNav{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.smallText{
    color: gainsboro;
    font-size: small;
}

.navBarSpacer{
    height: 78px;
}

.navBack{
    width: 100%;
    top:0;
    position: fixed;
    z-index: 9;
    opacity: .95;
    margin: 0 -15px;
    background-color: #2F2F2F;
}

.navLogo{
    height: 52px;
}

.navLogoText{
    margin: 0 5px;
    font-size: 26px;
}

.navText{
    color: gainsboro;
}

body{
    font-family: Roboto, sans-serif;
}

/*Modified Bootstrap classes*/

.navbar{
    margin: 0 -15px;
}